In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [4]:
df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

In [5]:
df.tail()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [6]:
df.describe()

,Year,Engine_Size,Mileage,Doors,Owner_Count,Price
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,2011.543700,3.000560,149239.111800,3.497100,2.991100,8852.96440
std,6.897699,1.149324,86322.348957,1.110097,1.422682,3112.59681
min,2000.000000,1.000000,25.000000,2.000000,1.000000,2000.00000
25%,2006.000000,2.000000,74649.250000,3.000000,2.000000,6646.00000
50%,2012.000000,3.000000,149587.000000,3.000000,3.000000,8858.50000
75%,2017.000000,4.000000,223577.500000,4.000000,4.000000,11086.50000
max,2023.000000,5.000000,299947.000000,5.000000,5.000000,18301.00000

In [7]:
df.shape

(10000, 10)

In [11]:
df.isna().sum()

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
label_encoder = LabelEncoder()

In [28]:
df['Transmission'] = label_encoder.fit_transform(df['Transmission'])
df['Fuel_Type'] = label_encoder.fit_transform(df['Fuel_Type'])
df['Brand'] = label_encoder.fit_transform(df['Brand'])
df['Model'] = label_encoder.fit_transform(df['Model'])
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,6,24,2020,4.2,0,1,289944,3,5,8501
1,2,19,2012,2.0,2,0,5356,2,3,12092
2,7,16,2020,4.2,0,0,231440,4,2,11171
3,0,22,2023,2.0,1,1,160971,2,1,11780
4,9,17,2003,2.6,2,2,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,6,20,2004,3.7,0,2,5794,2,4,8884
9996,2,18,2002,1.4,1,0,168000,2,1,6240
9997,1,0,2010,3.0,3,0,86664,5,1,9866
9998,3,13,2002,1.4,2,0,225772,4,1,4084
9999,9,27,2001,2.1,0,1,157882,3,3,3342

In [92]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import root_mean_squared_error

In [111]:
x = df.drop(columns=['Price'])
x

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count
0,6,24,2020,4.2,0,1,289944,3,5
1,2,19,2012,2.0,2,0,5356,2,3
2,7,16,2020,4.2,0,0,231440,4,2
3,0,22,2023,2.0,1,1,160971,2,1
4,9,17,2003,2.6,2,2,286618,3,3
...,...,...,...,...,...,...,...,...,...
9995,6,20,2004,3.7,0,2,5794,2,4
9996,2,18,2002,1.4,1,0,168000,2,1
9997,1,0,2010,3.0,3,0,86664,5,1
9998,3,13,2002,1.4,2,0,225772,4,1
9999,9,27,2001,2.1,0,1,157882,3,3

In [112]:
y = df['Price']
y

0        8501
1       12092
2       11171
3       11780
4        2867
        ...
9995     8884
9996     6240
9997     9866
9998     4084
9999     3342
Name: Price, Length: 10000, dtype: int64

In [113]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.7,random_state=50)

In [114]:
x_train

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count
1523,6,24,2012,3.0,2,1,89882,5,5
2111,2,18,2010,2.7,2,0,892,2,3
5643,3,13,2021,3.4,0,1,158797,2,1
1483,7,16,2002,3.7,1,1,215352,2,4
8055,3,13,2006,1.7,3,2,179625,3,5
...,...,...,...,...,...,...,...,...,...
8262,6,26,2013,2.5,3,1,150408,5,1
6214,0,3,2016,3.7,2,0,53763,5,1
8324,9,21,2023,3.3,3,0,193194,4,1
6253,0,3,2011,3.1,2,2,220492,3,3
5600,3,13,2006,3.8,0,1,34397,5,5

In [115]:
x_test

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count
9102,4,6,2005,1.2,0,2,106837,2,1
7868,1,1,2022,3.5,0,2,211848,4,5
4176,3,14,2013,4.9,3,1,208159,4,1
4161,0,3,2019,2.7,1,1,168579,2,1
8770,7,10,2006,4.1,0,2,117834,4,4
...,...,...,...,...,...,...,...,...,...
1253,9,21,2023,3.0,0,0,264912,5,1
947,7,5,2012,3.6,1,2,23912,3,3
6322,9,21,2021,3.9,1,2,113261,3,4
4212,6,20,2010,3.0,3,0,293509,4,4
1199,3,14,2007,4.7,2,2,103409,4,3

In [116]:
y_train

1523     9902
2111    12282
5643    10624
1483     6092
8055     4007
        ...
8262     7491
6214    14024
8324    11936
6253     7090
5600     9012
Name: Price, Length: 3000, dtype: int64

In [117]:
y_test

9102     4663
7868     9963
4176     8736
4161    11128
8770     7643
        ...
1253    10201
947     12821
6322    14034
4212     5729
1199     9831
Name: Price, Length: 7000, dtype: int64

In [118]:
model = LinearRegression()

In [119]:
model.fit(x_train,y_train)

LinearRegression()

In [120]:
y_pred = model.predict(x_test)
y_pred

array([ 5320.66537947, 10704.56510569,  9829.6382633 , ...,
       12611.71804304,  6098.55644813,  9286.24618856])

In [121]:
print("Mse :",mean_squared_error(y_test,y_pred),"R2_score :",r2_score(y_test,y_pred),"Mae :",mean_absolute_error(y_test,y_pred),"Rmse :",root_mean_squared_error(y_test,y_pred))

Mse : 809041.8791689537 R2_score : 0.9167905672618628 Mae : 787.3405563731054 Rmse : 899.467553149614